  
  <div id="intro" class="row dark">
    <h1 class="text-center">Meet Trevor</h1>
    <h3 class="text-center">your personal assistant</h3>
    <hr/>
    <p class="lead text-center">Trevor, will help you redefine Task management, Time management and Project Management<br />
    so you can boldly follow your own path to success</p>
    <hr/>
    <p class="text-center">
    We created Trevor, your personal assistant, for the sole purpose of expanding human capabilities.<br />
    With Trevor, we give you a tool which will empower you as an individual.<br/>
    <br />
    Trevor v1.0 is currently available on iOS / iPhone, with other major platforms currently under development.<br/>
    Explore the core features below...
    </p>
    <%= link_to image_tag('arrow-down.png', class: "center-block arrow-down-small"), "#myCarousel", class: "scrollTo" %>
  </div>
  
  
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide ha-waypoint" data-ride="carousel" data-animate-down="ha-header-subshow" data-animate-up="ha-header-large">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        <li data-target="#myCarousel" data-slide-to="5" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">

        <div class="item active" style="background-image: url('<%= image_url('S1.png') %>');">
          
          <div class="container">
            <div class="carousel-caption">
              <h1>Success is a mindset.</h1>
              <p>Trevor helps you set clear goals with visually defined timelines<br/>so you can boldly follow your own path to success.</p>
            </div>
          </div>
        </div>

        <div class="item" style="background-image: url('<%= image_url('S2.png') %>');">
          <% if false %><%= image_tag('S2.png', style: "width: 100%;") %><% end %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Embrace the chaos.</h1>
              <p>Trevor helps you centralize all the aspects of your life into one elegant system.</p>
            </div>
          </div>
        </div>

        <div class="item" style="background-image: url('<%= image_url('S3.png') %>');">
          
          <div class="container">
            <div class="carousel-caption">
              <h1>Leadership is from within.</h1>
              <p>Trevor helps you achieve business goals in realtime and track performance anytime.<br/>Empower your team, and let Trevor empower you.</p>
            </div>
          </div>
        </div>

        <div class="item" style="background-image: url('<%= image_url('S4.png') %>');">
          
          <div class="container">
            <div class="carousel-caption">
              <h1>Intelligence is your weapon.</h1>
              <p>Having your personal assistant anytime, anywhere gives you<br/>the competitive advantage you need.</p>
              <% if false %> cutting edge for supremacy. <% end %>
            </div>
          </div>
        </div>

        <div class="item" style="background-image: url('<%= image_url('S5.png') %>');">
          
          <div class="container">
            <div class="carousel-caption">
              <h1>Take a moment to yourself.</h1>
              <p>And let Trevor do his thing...
              <p><%= link_to image_tag('iPhoneStore.png', class: 'storeButton'), root_url %></p>
            </div>
          </div>
        </div>

        <div class="item" style="background-image: url('<%= image_url('SlideTeam.jpg') %>');">
          
          <div class="container">
            <div class="carousel-caption">
              <h1><a href="#">Play video</a></h1>
              <p>and<br /><a href="#">Read the latest news.</a></p>
              <p><br/><br/><%= link_to image_tag('iPhoneStore.png', class: 'storeButton'), root_url %></p>
            </div>
          </div>
        </div>

      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <div class="container">
      <div class="ha-waypoint row dark left-padding" data-animate-down="ha-header-small" data-animate-up="ha-header-subshow">
        <h3 class="text-center">What the Industry has to say:</h3>
        <div class="col-sm-4 full-height">
          <p class="lead" style="margin-top: 50px;">Trevor is a brilliant concept, they've got our full support!<br/> - Mashable</p>
        </div>
        <div class="col-sm-4">
          <p class="lead" style="margin-top: 50px;">We literally stepped into the future with Trevor<br/> - TechCrunch</p>
        </div>
        <div class="col-sm-4">
          <p class="lead" style="margin-top: 50px;">My very own personal assistant that actually works? Now thats awesome!<br/> - The Verge</p>
        </div>
        <hr class="full" />
      </div>

      <div id="aboutUs" class="row dark left-padding">
        <div class="col-md-12">
          <br />
          <br />
          <h2>About <small>The Project</small></h2>
          <p class="lead">Trevor is a product of an organization commited to empowering the human individual. Our current team consists of bold visionaries, scientists and leaders, aiming to bring that which the future holds, today. We all share the vision of giving everyone we can a personal assistant which will empower their life.
          </p>
        </div>
        <div class="col-sm-6">
          <iframe width="100%" height="378" src="//www.youtube.com/embed/uERMICjSBr8" frameborder="0" allowfullscreen class="pull-right"></iframe>
        </div>
        <div class="col-sm-6">
          <hr />
          <h3>Social Channels</h3>
          <%= link_to "Facebook", "#" %> | <%= link_to "Twitter", "#" %><br />
          <hr />
          <h3>The Trevor Community</h3>
          <%= link_to "Join Community", "#" %>
          <hr />
          <h3>Support the Project</h3>
          <%= link_to "@ KickStarter", "#" %>
          <hr />
        </div>
      
      </div>

          <div class="row" >
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

          <div class="row">
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

          <div class="row">
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="row">
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div id="getTrevor" class="ha-waypoint row" data-animate-down="ha-header-fullscreen" data-animate-up="ha-header-small">
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    


