<% content_for :menulinks do %>
  <a href="#intro" class="scrollTo">Trevor v1.0</a>
  <a href="#myCarousel" class="scrollTo">Features</a>
  <a href="#aboutUs" class="scrollTo">About us</a>
  <a href="#getTrevor" class="scrollTo">Get Trevor now</a>
<% end %>

  <div id="intro" class="row dark parallax" style="background-image: url('<%= image_url('intro28.jpg') %>');">
    <div class="container">
      <h1 class="text-center" style="margin-bottom: 0;">Meet Trevor</h1>
      <h3 class="text-center" style="margin-top: 0; font-size: 3.5em;">your personal assistant</h3>
      <br />
      <br />
      <div class="text-center hidden-xs hidden-sm">
        <%= image_tag('taskCircle.png', class: 'introCircle') %>
        <%= image_tag('taskCircle.png', class: 'introCircle') %>
        <%= image_tag('taskCircle.png', class: 'introCircle') %>
      </div>
      <br/>
      <br/>
      <p class="lead text-center">
        Trevor will intelligently introduce you to a radically new approach of <br/>Task, Time and Project Management, which will empower your day.


<!--         Trevor will intelligenty assist you with your Task, Time and Project management, <br />
        throught your everyday life, with a radically new approach -->


        <!-- through his radical interface and intelligent notifications. -->

        <!-- Trevor, will help you redefine Task management, Time management and Project Management
      so you can boldly follow your own path to success. -->
      </p>
      <br />
<!--       <p class="text-center">
      Explore the core features below...
      </p> -->
      <%= link_to image_tag('arrow-down.png', class: "center-block arrow-down-small"), "#myCarousel", class: "scrollTo" %>
    </div>
  </div>
  

  <!-- <h1>Success is a mindset.</h1>
            <p>Trevor helps you set clear goals with visually defined timelines<br/>so you can boldly follow your own path to success.</p> -->
  
  <!-- <h1>Embrace the chaos.</h1>
            <p>Trevor helps you centralize all the aspects of your life into one elegant system.</p> -->

  <!-- <h1>Leadership is from within.</h1>
            <p>Trevor helps you achieve business goals in realtime and track performance anytime.<br/>Empower your team, and let Trevor empower you.</p> -->

            <!-- <h1>Intelligence is your weapon.</h1>
            <p>Having your personal assistant anytime, anywhere gives you<br/>the competitive advantage you need.</p> -->

  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide ha-waypoint" data-ride="carousel" data-animate-down="ha-header-subshow" data-animate-up="ha-header-large">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
      <li data-target="#myCarousel" data-slide-to="4" class=""></li>
      <li data-target="#myCarousel" data-slide-to="5" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      <div class="item active" style="background-image: url('<%= image_url('S1.png') %>');">
        
        <div class="container">
          <div class="carousel-caption techCard">
            
            <div class="row heading">
              <h1>Powerful Task Management</h1>
              
            </div>
            <div class="row body">
              <div class="corner-top-left-small"></div>
              <p>Trevor gives individuals and organizations powerful, flexible, and efficient Task management features:</p>
              <ul>
                <li>Create objectives in seconds</li>
                <li>Add flexible options</li>
                <li>Assign objectives to team members instantly</li>
                <li>Easily monitor your, and your team's progress</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="item" style="background-image: url('<%= image_url('S6.png') %>');">
        <div class="container">
          <div class="carousel-caption techCard">
            
            <div class="row heading">
              <h1>Redefined Time Management</h1>
              
            </div>
            <div class="row body">
              <div class="corner-top-left-small"></div>
              <p>Trevor's radical interface lets you actually "see" your time. Managing your most valuable asset has never been more clear.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="item" style="background-image: url('<%= image_url('S2.png') %>');">
        <div class="container">
          <div class="carousel-caption techCard">
            
            <div class="row heading">
              <h1>Smart Project Management</h1>
              
            </div>
            <div class="row body">
              <div class="corner-top-left-small"></div>
              <p>Trevor's Project Management System lets you easily manage a team / organization of any size and complexity.</p>
              <ul>
                <li>Create any organizational structure, from a university team to a global enterprise</li>
                <li>Add friends, colleges, employees and family into your projects / organizations</li>
                <li>Monitor all of your Projects' progress at any time</li>
                <li>Centralize all the aspects of your life into one elegant system</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="item" style="background-image: url('<%= image_url('S3.png') %>');">
        
        <div class="container">
          <div class="carousel-caption techCard">
            
            <div class="row heading">
              <h1>RealTime Collaboration</h1>
              
            </div>
            <div class="row body">
              <div class="corner-top-left-small"></div>
              <p>Trevor's powerful cloud architecture allows seamless realtime collaboration with your teams.</p>
              <ul>
                <li>Work in a dynamic, up-to-date environment where updates are pushed instantly</li>
                <li>Collaborate on your projects and objectives in absolute sync</li>
                <li>RealTime monitoring allows uninterrupted workflow</li>
                <li>Your Data is synced to the cloud instantly and securely</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="item" style="background-image: url('<%= image_url('S4.png') %>');">
        
        <div class="container">
          <div class="carousel-caption techCard">
            
            <div class="row heading">
              <h1>Personal Assistant</h1>
              
            </div>
            <div class="row body">
              <div class="corner-top-left-small"></div>
              <p>Trevor's intelligence always keep you up-to-date with the important stuff in your projects, so you can work smart and save time.</p>
              <ul>
                <li>Personalized experience</li>
                <li>Instant, intelligent notifications</li>
                <li>Progress reports</li>
                <li>Trevor constantly evolves to adapt to your needs</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="item" style="background-image: url('<%= image_url('S5.png') %>');">
        
        <div class="container">

          <div class="carousel-caption techCard">

            <div class="row heading">
              <h1>Take a moment to yourself.</h1>
            </div>

            <div class="row body">
              <div class="corner-top-left-small"></div>
              <p>And let Trevor do his thing...</p>
              <p><%= link_to image_tag('iPhoneStore.png', class: 'storeButton'), root_url %></p>
            </div>

          </div>
        </div>
      </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.carousel -->

    
  <div class="ha-waypoint row dark left-padding" data-animate-down="ha-header-small" data-animate-up="ha-header-subshow">
    <div class="container">
      <h3 class="text-center">What our customers have to say:</h3>
      <!-- <hr class="full" /> -->
      <div class="col-sm-4 feedback1 full-height">
        <p class="lead"><em>Trevor is a brilliant concept, they've got our full support!<br/></em> <span class="blue">- D. Koleva, NLP Master</span></p>
      </div>
      <div class="col-sm-4 feedback">
        <p class="lead"><em>We literally stepped into the future with Trevor<br/></em> <span class="blue">- N. Dimitrov, Business Lecturer</span></p>
      </div>
      <div class="col-sm-4 feedback">
        <p class="lead"><em>My very own personal assistant? Now thats awesome!<br/></em> <span class="blue">- D. Mirov, Hipstapreneur</span></p>
      </div>
      <!-- <hr class="full" /> -->
    </div>
  </div>

  <div id="aboutUs" class="darkGlass row dark left-padding">
    <div class="corner-top-left"></div>
    <div class="container">
      <div class="col-md-12">
        <br />
        <br />
        <h2>About <small>The Project</small></h2>
        <p class="lead gray">
          We are an organization commited to empowering the human individual, and Trevor is the first step. Our current team consists of bold visionaries, scientists and leaders, aiming to bring that which the future holds, today. 
        </p>
        <p class="lead gray">
          People and technology will always work in sync and collaborate on solving the challanges of life.
          Our mission, as an organization, a community, and as individuals, is to dedicate our time, knowledge, and resources, to extend the potential of the human individual.
        </p>
        <p class="lead gray">
          We sincerely believe that the personal assistant is the next step in human empowerment. Trevor's intelligence, combined with his radical user interface and powerful functionality is just the empowerment you need in your life, which is why we are so eager that you meet your personal assistant - Trevor.
        </p>

        <hr class="full" />
      </div>
      <div class="col-sm-6">
        <iframe width="100%" height="378" src="//www.youtube.com/embed/uERMICjSBr8?controls=2" frameborder="0" controls="2" allowfullscreen class="pull-right"></iframe>
      </div>
      <div class="col-sm-6 socialLinks">
        <p class="text-uppercase white">Social Channels</p>
        <%= link_to image_tag('socialFacebook.png'), "http://www.facebook.com/trevorcorporation", target: '_blank' %>
        <%= link_to image_tag('socialTwitter.png'), "http://www.twitter.com/TREVORCORP", target: '_blank' %>
        <%= link_to image_tag('socialYoutube.png'), "https://www.youtube.com/channel/UCyXVE3OzZSCntJQiua7m_Ow", target: '_blank' %>
        <br />
        <p class="text-uppercase white">Join The Community</p>
        <%= link_to image_tag('community.png'), "#" %>
        <br />
        <p class="text-uppercase white">Press Room</p>
        <%= link_to image_tag('pressroom.png'), pressroom_path %>
        <br />
      </div>
    </div>
    <div class="corner-bottom-right"></div>
  </div>

  <div class="row dark left-padding">
    <div class="container">
      <h3 class="text-center">Boldly follow your ambitions</h3>
      <hr class="full" />
      <div class="col-sm-4 full-height">
        <p class="lead"><span class="blue">Set clear goals,</span> into small steps, with visually defined timelines.</p>
      </div>
      <div class="col-sm-4">
        <p class="lead"><span class="blue">Collaborate</span> with others towards your goals.</p>
      </div>
      <div class="col-sm-4">
        <p class="lead">Boldly follow your own <span class="blue">path to success.</span></p>
      </div>
      <hr class="full" />
        <h4 class="text-center">It's time for something new, exciting. It's time for change, a step into the future.<br/>
        Follow your biggest ambitions with the help of Trevor, your personal assistant.</h4><br />
    </div>
  </div>

  <div id="aboutUs" class="darkGlass row dark left-padding">
    <div class="corner-top-left"></div>
    <div class="container">
      
      <% if false %>
      <div class="col-md-12">
        <br />
        <br />
        <h2>Pricing <small>and Availability</small></h2>
        <p class="lead">
          Trevor v1.0 is just the starting step of an ambitios vision, and it all starts now - on iOS / iPhone, with other major platforms due for release within the following months.<br />
        </p>
        <hr class="full" />
      </div>
      <div class="col-sm-6">
        <iframe width="100%" height="378" src="//www.youtube.com/embed/uERMICjSBr8?controls=2" frameborder="0" controls="2" allowfullscreen class="pull-right"></iframe>
      </div>
      <div class="col-sm-6 pricingText">
        <h3>Trevor's Monthly subscription</h3>
        <p>Experience Trevor's full functionality for $4.99/mo.</p>
        <h3>Trevor for Business</h3>
        <p>Transcend your business into the future for $2 per member</p>
        <h3>Try Trevor Free for 14 days</h3>
        <p>Pioneer into a new horizon, absolutley free for 14 days, now</p>
        <%= link_to "Download for iOS", "#" %>
      </div>
      <% end %>
      <div class="col-md-12">
        <br />
        <br />
        <h2>Pricing <small>and Availability</small></h2>
        <p class="lead gray">
          Trevor v1.0 is just the starting step of an ambitios vision, and it all starts now - on iOS / iPhone, with other major platforms due for release within the following months.<br />
        </p>
              <br/>
      <br/>
      </div>
      <hr class="full" />
      <div class="col-sm-4 pricingText">
        <h4><%= image_tag('check.png') %> Trevor's Monthly subscription</h4>
        <p>Experience Trevor's full functionality for <br/>$4.99/mo.</p>
      </div>
      <div class="col-sm-4 pricingText">
        <h4><%= image_tag('check.png') %> Trevor for Business</h4>
        <p>Transcend your business into the future for <br/>$2 per member</p>
      </div>
      <div class="col-sm-4 pricingText">
        <h4><%= image_tag('check.png') %> Try Trevor Free for 14 days</h4>
        <p>Pioneer into a new horizon, absolutley free for <br/>14 days, now</p>
        <br/>
      </div>

      <hr class="full" />
      <br/>
      <div class="col-sm-12">
        <p class="text-center"><%= link_to image_tag('iPhoneStore.png', class: 'storeButton'), root_url %></p>
      </div>
    </div>
    <div class="corner-bottom-right"></div>
  </div>

  <div id="getTrevor" class="ha-waypoint row" data-animate-down="ha-header-fullscreen" data-animate-up="ha-header-small">
  </div>

    


