<!DOCTYPE html>
<html>
<head>
  <title>Trevor</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>

<body>
    <div class="container-fluid">
      <header>
        <a href="#" class="logo">Trevor</a>
        <span class="logo_description">your personal assistant</span>
        <%= link_to(image_tag("Logo.png", class: 'logo_image'), root_path) %>
      </header>

  		<%= yield %>
  	        <!-- FOOTER -->
      <footer>
        <p><%= "© 2014, George Petrov & Niki Georgiev" %> · <a href="//www.iubenda.com/privacy-policy/943014" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a> · <a href="#" data-toggle="modal" data-target="#TermsAndConditions">Terms and Conditions</a></p>
      </footer>
   
    </div><!-- /.container-fluid -->
  
    <!-- TERMS AND CONDITIONS -->
    <%= render template: 'layouts/_terms.html.erb' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
    $('.carousel').carousel({
      interval: 10000
    })
  </script>
  <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
</body>
</html>
