<!DOCTYPE html>
<html>
<head>
  <title>Trevor</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% if false %><meta name="viewport" content="width=device-width, initial-scale=1"><% end %>
  <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>

<body>
    <div class="container-fluid">
      <% if false %>
      <header>
        <a href="<%= root_path %>" class="logo">Trevor</a>
        <span class="logo_description hidden-sm hidden-xs">your personal assistant</span>
        
        <%= image_tag('Logo.png',class: 'logo_image') %>
      </header>
      <% end %>

      <header id="ha-header" class="ha-header ha-header-large">
          <div class="ha-header-perspective">
              <div class="ha-header-front">
                
                <h1>
                  <%= image_tag('AppIconClippedSmall.png', class: "appIcon") %>
                  <span>
                    <a href="#">T R E V O R</a>

                  </span>
                  <span class="badge">iOS / iPhone</span>
                  <span class="badge">Android (soon)</span>
                  <span class="badge">Web (soon)</span>
                </h1>
                <nav>
                    <a href="#intro" class="scrollTo">Trevor v1.0</a>
                    <a href="#myCarousel" class="scrollTo">Features</a>
                    <a href="#aboutUs" class="scrollTo">About us</a>
                    <a href="#getTrevor" class="scrollTo">Get Trevor now</a>
                </nav>
              </div>
              <div class="ha-header-bottom">
                  <nav>
                      Core Features: 
                      <a data-target="#myCarousel" data-slide-to="0">Task Management</a>
                      <a data-target="#myCarousel" data-slide-to="0">Time Management</a>
                      <a data-target="#myCarousel" data-slide-to="1">Project Management</a>
                      <a data-target="#myCarousel" data-slide-to="2">Collaboration</a>
                      <a data-target="#myCarousel" data-slide-to="3">Personal Assistance</a>
                      <a data-target="#myCarousel" data-slide-to="4">Trevor</a>
                  </nav>
              </div>
          </div>
      </header>




  		<%= yield %>




      <!-- FOOTER -->
      <footer>
        <p><%= "© 2014, George Petrov & Niki Georgiev" %> · <a href="//www.iubenda.com/privacy-policy/943014" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a> · <a href="#" data-toggle="modal" data-target="#TermsAndConditions">Terms and Conditions</a> · <%= link_to "Support", support_path %></p>
      </footer>
   
    </div><!-- /.container-fluid -->
  
    <!-- TERMS AND CONDITIONS -->
    <div class="modal fade" id="TermsAndConditions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
          </div>
          <div class="modal-body">
            <h2>
              Web Site Terms and Conditions of Use
            </h2>

            <h3>
              1. Terms
            </h3>

            <p>
              By accessing this web site, you are agreeing to be bound by these 
              web site Terms and Conditions of Use, all applicable laws and regulations, 
              and agree that you are responsible for compliance with any applicable local 
              laws. If you do not agree with any of these terms, you are prohibited from 
              using or accessing this site. The materials contained in this web site are 
              protected by applicable copyright and trade mark law.
            </p>

            <h3>
              2. Use License
            </h3>

            <ol type="a">
              <li>
                Permission is granted to temporarily download one copy of the materials 
                (information or software) on George Petrov's web site for personal, 
                non-commercial transitory viewing only. This is the grant of a license, 
                not a transfer of title, and under this license you may not:
                
                <ol type="i">
                  <li>modify or copy the materials;</li>
                  <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                  <li>attempt to decompile or reverse engineer any software contained on George Petrov's web site;</li>
                  <li>remove any copyright or other proprietary notations from the materials; or</li>
                  <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                </ol>
              </li>
              <li>
                This license shall automatically terminate if you violate any of these restrictions and may be terminated by George Petrov at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
              </li>
            </ol>

            <h3>
              3. Disclaimer
            </h3>

            <ol type="a">
              <li>
                The materials on George Petrov's web site are provided "as is". George Petrov makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, George Petrov does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
              </li>
            </ol>

            <h3>
              4. Limitations
            </h3>

            <p>
              In no event shall George Petrov or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on George Petrov's Internet site, even if George Petrov or a George Petrov authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
            </p>
                  
            <h3>
              5. Revisions and Errata
            </h3>

            <p>
              The materials appearing on George Petrov's web site could include technical, typographical, or photographic errors. George Petrov does not warrant that any of the materials on its web site are accurate, complete, or current. George Petrov may make changes to the materials contained on its web site at any time without notice. George Petrov does not, however, make any commitment to update the materials.
            </p>

            <h3>
              6. Links
            </h3>

            <p>
              George Petrov has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by George Petrov of the site. Use of any such linked web site is at the user's own risk.
            </p>

            <h3>
              7. Site Terms of Use Modifications
            </h3>

            <p>
              George Petrov may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
            </p>

            <h3>
              8. Governing Law
            </h3>

            <p>
              Any claim relating to George Petrov's web site shall be governed by the laws of the State of Sofia, Bulgaria, 1164 without regard to its conflict of law provisions.
            </p>

            <p>
              General Terms and Conditions applicable to Use of a Web Site.
            </p>



            <h2>
              Privacy Policy
            </h2>

            <p>
              Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
            </p>

            <ul>
              <li>
                Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
              </li>
              <li>
                We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.   
              </li>
              <li>
                We will only retain personal information as long as necessary for the fulfillment of those purposes. 
              </li>
              <li>
                We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. 
              </li>
              <li>
                Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. 
              </li>
              <li>
                We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
              </li>
              <li>
                We will make readily available to customers information about our policies and practices relating to the management of personal information. 
              </li>
            </ul>

            <p>
              We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. 
            </p>    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF TERMS -->


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script type="text/javascript">
    $('.carousel').carousel({
      interval: false
    })
  </script>
  <script type="text/javascript">
    (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);
  </script>
  <script type="text/javascript">
    var $head = $( '#ha-header' );
    $( '.ha-waypoint' ).each( function(i) {
      var $el = $( this ),
        animClassDown = $el.data( 'animateDown' ),
        animClassUp = $el.data( 'animateUp' );

      $el.waypoint( function( direction ) {
        if( direction === 'down' && animClassDown ) {
          $head.attr('class', 'ha-header ' + animClassDown);
        }
        else if( direction === 'up' && animClassUp ){
          $head.attr('class', 'ha-header ' + animClassUp);
        }
      }, { offset: '50%' } );
    } );
  </script>
  <script type="text/javascript">
    $(window).scroll(function(){
        var window_top = $(window).scrollTop() + 12; // the "12" should equal the margin-top value for nav.stick
        var div_top = $('#nav-anchor').offset().top;
            if (window_top > div_top) {
                $('nav').addClass('stick');
            } else {
                $('nav').removeClass('stick');
            }
    });

    /**
     * This part causes smooth scrolling using scrollto.js
     * We target all a tags inside the nav, and apply the scrollto.js to it.
     */
    // $("nav a").click(function(evn){
    //     evn.preventDefault();
    //     $('html,body').scrollTo(this.hash, this.hash); 
    // });
    $("a.scrollTo").click(function(evn){
        evn.preventDefault();
        $('html,body').scrollTo(this.hash, this.hash); 
    });

    /**
     * This part handles the highlighting functionality.
     * We use the scroll functionality again, some array creation and 
     * manipulation, class adding and class removing, and conditional testing
     */
    var aChildren = $("nav li").children(); // find the a children of the list items
    var aArray = []; // create the empty aArray
    for (var i=0; i < aChildren.length; i++) {    
        var aChild = aChildren[i];
        var ahref = $(aChild).attr('href');
        aArray.push(ahref);
    } // this for loop fills the aArray with attribute href values

    $(window).scroll(function(){
        var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
        var windowHeight = $(window).height(); // get the height of the window
        var docHeight = $(document).height();

        for (var i=0; i < aArray.length; i++) {
            var theID = aArray[i];
            var divPos = $(theID).offset().top; // get the offset of the div from the top of page
            var divHeight = $(theID).height(); // get the height of the div in question
            if (windowPos >= divPos && windowPos < (divPos + divHeight)) {
                $("a[href='" + theID + "']").addClass("nav-active");
            } else {
                $("a[href='" + theID + "']").removeClass("nav-active");
            }
        }

        if(windowPos + windowHeight == docHeight) {
            if (!$("nav li:last-child a").hasClass("nav-active")) {
                var navActiveCurrent = $(".nav-active").attr("href");
                $("a[href='" + navActiveCurrent + "']").removeClass("nav-active");
                $("nav li:last-child a").addClass("nav-active");
            }
        }
    });
  </script>
</body>
</html>
